@import "../../mixin.scss";
@import "../../variables.scss";
.services {
  @include flexy();
  flex-direction: column;
  @include mobile{
    justify-content: space-around;
  }
  h1 {
    font-size: 50px;
    color: $primaryColor;
    @include mobile{
      font-size: 20px;
      margin: 20px 0px;
    }
  }

  .container {
    width: 100%;
    height: 100%;
    @include flexy();
    @include mobile{
      flex-direction: column;
      height: 100%!important;
    }

// cards
    .card {
      width: 250px;
      height: 70%;
      background: $firstB;
      background-color: rgba(39, 52, 52, 0.599);
      border-radius: 10px;
      box-shadow: 0px 0px 15px -8px black;
      @include flexy();
      flex-direction: column;
      justify-content: space-around;
      padding: 20px;
      transition: all 1s ease-in;
      @include mobile{
        height: 180px;
        height: 100%;
      }

   @include tablet{
     height: 40%;
   }
      &.featured{
          width: 300px;
          height: 75%;
          margin: 0 30px;
          
          @include tablet{
            height: 50%;
          }
          @include mobile{
            width: 250px;
            height: 180px;
            height: 40%;
            margin: 10px 0px;
          }
      }
      &:hover {
        box-shadow: 0px 0px 20px -8px black;
        transform: scale(1.1)
      }
      .top {
        background: white;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        @include flexy();
        @include small{
          margin-bottom:10px;
          min-height: 30px;
          width: 40px;
        }

        img {
          
          &.user {
            min-height: 30px;
            min-width: 30px;
            max-height: 30px;
            max-width: 30px;
            height: 100%;
            width: 100%;
            @include mobile{
              width: 40px;
              height: 40px;
            }
          }
        }
      }
      .center{
          padding: 15px;
          background: $primaryColor;
          background: #00E5FF;
          border-radius: 10px;
          min-height: 150px!important;
          @include mobile{
            font-size: 12px;
            padding: 5px;
            min-height: unset!important;
            padding-bottom: 20px;            
          }
          @include small{
            font-size: 10px;
            padding-bottom:40px;
          }
      }
      .bottom{
          @include flexy();
          flex-direction: column;
          color: $primaryColor;
          color: #65b6e9;

          

          h3{
              margin-bottom: 5px;
              color: white!important;
              @include mobile{
                font-size: 13px;
              }
          }
          h4{
              @include mobile{
                font-size: 12px;
              }
          }
      }
    }
  }
}
