@import "../../mixin.scss";
@import "../../variables.scss";
.about {
  background: $firstB;
  @include flexy();
  @include mobile {
    position: relative;
  }
  //   direction  indicator

  .arrow {
    height: 50px;
    position: absolute;
    filter: invert(100%);
    cursor: pointer;
    animation: arrowBlink 2s infinite;

    @include mobile {
      // display: none;
      height: 25px;
      filter: none;
    }
    &.right {
      right: 150px;
      transform: rotate(-90deg);
      @include mobile {
        bottom: 33%;
        right: 50px;
        filter: invert(100%);
      }
    }
    &.left {
      left: 150px;
      transform: rotate(90deg);
      @include mobile {
        bottom: 33%;
        left: 50px;
      }
    }
  }
  // carousel
  .slider {
    height: 350px;
    display: flex;

    position: absolute;
    left: 0;
    transition: all 1s ease-in;
    @include mobile {
      // height: 0vh;
      // flex-direction: column;
      justify-content: center;
    }

    .container {
      width: 100vw;
      @include flexy();
      padding-bottom: 40px;
      .item {
        width: 700px;
        height: 100% !important;
        box-shadow: 0px 0px 15px -8px black;
        background: rgb(247, 246, 246);
        background: white;
        &:hover {
          box-shadow: 0px 0px 20px -8px black;
        }
        @include flexy();
        @include mobile {
          width: 90vw;
          // margin: 45px 0px;
        }

        .left {
          flex: 5;
          height: 80%;
          @include flexy();
          
          .leftContainer {
            width: 90%;
            height: 70%;
            @include mobile{
              height: 100%;
            }
            @include flexy();
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            .imgContainer {
              width: 60px;
              height: 60px;
              background: whitesmoke;
              @include flexy();
              position: relative;
              z-index: 4;

              img {
                width: 40px;
                height: 40px;
              }
            }
            h2 {
              font-size: 20px;
            }
            p {
              font-size: 13px;
            }
            span {
              font-size: 12px;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
        .right {
          flex: 5;
          height: 100%;
          background-color: whitesmoke;
          @include flexy();
          border-radius: 0%;

          img {
            @include flexy();
            border-radius: 50%;
            max-width: 100%;
            max-width: 200px;
            max-height: 200px;
            background-color: rgba(39, 52, 52, 0.599);
            border: 10px solid black;
            transform: rotate(5deg);
          }
        }
      }
    }
  }
}
