@import "../../mixin.scss";
@import "../../variables.scss";
.works {
  background: $firstB;
  @include flexy();
  @include tablet{
    position: relative;
  }
  @include mobile{
    position: relative;
  }
//   direction  indicator

.arrow{
    height: 50px;
    height: 6vh;
    position: absolute;
    filter: invert(100%);
    cursor: pointer;
    animation: arrowBlink 2s infinite;

    @include tablet{
      bottom: 20%!important;
    }
    @include ipad{
      filter: invert(100%)!important;
      height: 6vh!important;
    }
    @include mobile{
      bottom: 29%;
      height: 25px;
      // background: yellowgreen;
    }
    @include small-mobile{
      bottom: 32%;
    }
    @include small{
      bottom: 15%;
    }
    @include ultra{
            filter: none!important;

    }
    // @include iphonex{
    //   bottom: 27%!important;
    //   height: 4vh!important;
    // }
    &.right{
        right: 150px;
        transform: rotate(-90deg);
        @include mobile{
          right: 50px;
        }
    }
    &.left{
        left: 150px;
        transform: rotate(90deg);
        @include mobile{
          left: 50px;
        }
    }
}
// carousel
  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 0.5s ease-in;
    
    @include mobile {
      // height: 0vh;
      // flex-direction: column;
      justify-content: center;
    }

    .container {
      width: 100vw;
      transition: all 0.5s ease-in;
      &:hover{
        transform: scaleX(1.02) !important;
      }
      @include flexy();
      padding-bottom: 40px;
      .item {
        width: 700px;
        height: 100% !important;
        background: white;
        border-radius: 20px;
        @include flexy();
        @include mobile {
          width: 90vw;
          // margin: 45px 0px;

        }
  

        .left {
          flex: 5;
          height: 80%;
          @include flexy();

          .leftContainer {
            width: 90%;
            height: 100%;
            @include flexy();
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            .imgContainer {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              @include flexy();
              position: relative;
              z-index: 4;

              img {
                width: 30px;
              }
            }
            h2 {
              font-size: 20px;
            }
            p {
              font-size: clamp(10px, 2vh, 18px);
              @include mobile{
                font-size: 11px;
                max-width: 50vw;
              }
            }
            span {
              font-size: 12px;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
        .right {
          flex: 5;
          height: 100%;
          @include flexy();
          border-radius: 0%;
          // background: rgb(233, 60, 181);

          img {
            // width: 400px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            // transform: rotate(-10deg);
            overflow: hidden;
          }
        }
      }
    }
  }
}
