$mobilewidth: 768px;
$smallerscreen: 350px;
$iphoneX:380px;
$tablet:920px;
$small-mobile: 500px;
$ipad:800px;
$ultra: 330px;

@mixin flexy {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin bars {
  background: $mainColor;
  position: fixed;
  top: 0;
}

// box shadow
@mixin shadow{
  box-shadow:0 0 10px $primaryColor, 0 0 40px $primaryColor, 0 0 80px $primaryColor;
}

@mixin hidescroll {
  scroll-snap-type: y mandatory;
  // hide scroll bar
  scrollbar-width: none; //for firefox
  &::-webkit-scrollbar {
    display: none; //for other browsers
  }
}

// responsiveness
@mixin mobile{
  @media (max-width: #{$mobilewidth}) {
    @content
  }
}
// smaller screen
@mixin small{
  @media (max-width: #{$smallerscreen}) {
    @content
  }
}

// iphone x
@mixin iphonex{
  @media (max-width: #{$iphoneX}) {
    @content
  }
}
// Tablets
@mixin tablet{
  @media (max-width: #{$tablet}) {
    @content
  }
}

// Small Mobile
@mixin small-mobile{
  @media (max-width: #{$small-mobile}) {
    @content
  }
}

// iPad mini
@mixin ipad{
  @media (max-width: #{$ipad}) {
    @content
  }
}

// Ultra iPhone 5 and 5s
@mixin ultra{
  @media (max-width: #{$ultra}) {
    @content
  }
}

